---
layout: default
---

<div class="bg-white py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:max-w-4xl">
      <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Our apps</h2>
      <p class="mt-2 text-lg leading-8 text-gray-600">Discover how our apps can help you and your business.</p>
      <div class="mt-16 space-y-20 lg:mt-20 lg:space-y-20">
        <article class="relative isolate flex flex-col gap-8 lg:flex-row">
          <div class="relative aspect-[16/9] sm:aspect-[2/1] lg:aspect-square lg:w-64 lg:shrink-0">
            <img
              src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=3603&q=80"
              alt="" class="absolute inset-0 h-full w-full rounded-2xl bg-gray-50 object-cover">
            <div class="absolute inset-0 rounded-2xl ring-1 ring-inset ring-gray-900/10"></div>
          </div>
          <div>
            
            <div class="group relative max-w-xl">
              <h3 class="mt-3 text-lg font-semibold leading-6 text-gray-900 group-hover:text-gray-600">
                <a href="#">
                  <span class="absolute inset-0"></span>
                  Pickify - Pick List | Simplify Your Order Fulfillment
                </a>
              </h3>
              <p class="mt-5 text-sm leading-6 text-gray-600">Discover how our app helps you streamline your orders and shipping. Find out why merchants trust us for efficient warehouse management. With our app, you'll be able to easily create pick lists and keep your business running smoothly</p>
            </div>
            <div class="mt-6 flex border-t border-gray-900/5 pt-6">
              <div class="relative flex items-center gap-x-4">
                
               
                <a href="#" class="text-sm font-semibold leading-6 text-gray-900">See more <span aria-hidden="true">→</span></a>
              </div>
            </div>
          </div>
        </article>

        <!-- More posts... -->
      </div>
    </div>
  </div>
</div>